
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

#main {
    margin: 20px;
}

#meme-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    height: 80%;
    width: 80%;
}

#meme-image {
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}
